.container{
    width: 100%;
    max-width: 1300px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.textcontain{
    display: flex;
    flex-direction: column;
}

.textcontain h1, .title{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
}
.textcontain p{
    color: #181818;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.imagecard{
    margin: 2rem auto;
    background: #f9f9f9;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top center;
}
.imagecard h2{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
}

.subtitle{
    text-align: center;
    padding: 0 1rem;
    font-weight: 300;
}
.imagegame{
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
@media screen and (min-width: 720px){
    .textcontain h1{
        font-size: 2.5rem;
    }
    .title{
        font-size: 3.5em;
    }
    .subtitle{
        font-size: 1.1rem;
    }
    .textcontain p{
        font-size: 1.9em;
    }
}
@media screen and (min-width: 500px){
    .flex{
        display: flex;
        gap: 1rem;
    }
    .imagecard{
        flex: 1 1 50%;
    }
    .banner{
        height: 300px;
    }
}